h1, #msg404 {
    text-align: center;
    color: cornflowerblue;
}

.container {
  display: flex;
  justify-content: center;
}

img {
  height: 75vh;
  margin-top: 10px;
}

#placesBtn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
